.table_list {
                    border-collapse: collapse;
                    border-spacing: 0;
                    width: 90%;
                    border: 1px solid #ddd;
                    margin-top: -80px;
                    margin-bottom: 85px;
                }
                th {
                    /*text-align: left;
                    padding: 8px;
                    font-size:13px;
                    background:#c6178d !important;
                    color:#fff;*/
                    text-align: left;
                    font-size: 13px;
                    background: #c6178d !important;
                    color: #fff;
                    padding-top: 2px;
                    padding-bottom: 6px;
                    padding-left: 15px;
                }
                 td {
                    text-align: left;
                    padding: 8px;
                    font-size:13px;
                }
                tr:nth-child(even){background-color: #f2f2f2}
                .form-inline
                {
                    margin-bottom: -38px !important;
                    float: right !important;
                    margin-top: -43px !important;
                }
                .btn
                {
                    margin-top: -13px !important;
                    padding-bottom: 9px !important;
                    padding-top: 9px !important;
                }
                .caret
                {
                    margin-top: 4px !important;
                    padding-bottom: 5px !important;
                }